@charset "UTF-8";

/*
ORGANIZAR SUA PALETA DE CORES:
#ffc1ff
#ff97d9
#ff69b4
#e44f9c
#c93384
#3f042e
*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: Atkinson;
    src: url(../fontes/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf) format(ttf);
    font-weight: normal;
}



:root {
    --cor0: #ffc1ff;
    --cor1: #ff97d9;
    --cor2: #ff69b4;
    --cor3: #e44f9c;
    --cor4: #c93384;
    --cor5: #3f042e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Atkinson Hyperlegible Next", serif;
    --fonte-atkinson: 'Aktinson', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: "\00A0\1F517";
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: black;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(248, 8, 140, 0.418);
}

header > p {
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(248, 8, 140, 0.171);
}

nav {
    padding: 10px;
    box-shadow: 0px 7px rgba(248, 8, 140, 0.171);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));

}

nav > a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


main h1 {
    color: var(--cor5);
    font-family: var(--fonte-atkinson);
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-atkinson);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;

}

main img {
    width: 100%;

}

div.video {
    background-color: var(--cor0);
    margin-bottom: 30px;
    margin: 0px auto;
    padding: 10px;
    padding-bottom: 60%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    line-height: 1.4em;
    box-shadow: 3px 3px 8px var(--cor2);
    
}

aside > h3 {
    background-color: var(--cor4);
}

aside > ul {
    list-style-position: inside;
    list-style-type: "\1F380\00A0\00A0"; 
    /* 00A0 dá um espaço 
    Todo esse comando pode não ser compatível com todo navegador*/ 
    columns: 2;
    padding-top: 12px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}